.brew-update-section {
    padding: 0 6px;
}

.brew-update-icon {
    -st-icon-style: symbolic;
    icon-size: 1.08em;
}
.brew-update-label {
    width: auto;
    font-size: 0.9em;
    padding-left: 6px
}
